// It's highly recommended to change the default colors
// to match your app's branding.

$primary   : #027BE3
$secondary : #26A69A
$accent    : #9C27B0

$dark      : #2A0B71

$positive  : #83F6A3
$negative  : #FFDCDC
$info      : #31CCEC
$warning   : #F2C037
