<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap" rel="stylesheet">
    <link href='style.css' rel='stylesheet'>
</head>
<body>
    <div id='app' class='app_error'>
        <form @submit.prevent='auth'>
            <div id='text_au' class='txt_error'>Авторизация</div>
            <input id='log' class='input input_error' v-model='login' placeholder="Логин" />
            <input id='pas' class='input input_error' type="password" v-model='password' placeholder="Пароль" />
            <button id='btn' class='bttn_error' type='submit'>Войти</button>
        </form>
    </div>
    
    <script src="https://unpkg.com/vue@next"></script>
    <script src='script.js'></script>
</body>
</html>