html {
    margin: 0;
    height: 100%;
    width: 100%;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-size: 1rem;
    color: #2A0B71;
    background-color: #FFFFFF;
}

button {
    border-radius: 50px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: #FFFFFF;
    border: none;
    letter-spacing: -0.017em;
    padding: 4px 8px;
}

button:disabled {
    background: #ACB3C1;
}

a {
    text-decoration: underline;
    color: inherit;
}

a:hover {
    text-decoration: none;
    color: inherit;
}

table {
    color: inherit;
}

.input_normal {
    color: #2A0B71;
}

.input_normal::placeholder {
    color: #ACB3C1;
}

.input_error {
    color: #C51F1F;
}

.input_error::placeholder {
    color: #E0AAAA;
}

.txt_error {
    color: #780000;
}

.btn_normal {
    background: linear-gradient(to left, #5F7EF1, #3C61E9);
}

.btn_normal:hover {
    background: linear-gradient(to left, #3C61E9, #1942DB);
}

.app_normal {
    background-color: #D5F5FC;
}

.app_error {
    background-color: #FFDCDC;
}

.btn_error {
    background: linear-gradient(to left, #F04C4C, #D62424);
}

.btn_error:hover {
    background: linear-gradient(to left, #D62424, #C80D0D);
}

.nav_btn_error {
    border: none;
    border-bottom: solid 1px #C51F1F;
    color:#C51F1F
}

.nav_btn_error:hover {
    border-bottom: solid 3px #C51F1F;
}

.nav_btn_normal {
    border: none;
    border-bottom: solid 1px #2A0B71;
    color: #2A0B71;
}

.nav_btn_normal:hover {
    border-bottom: solid 3px #2A0B71;
}



